* {
    margin: 0;
    padding: 0;
 
    
}
#root{
    display: flex;
    justify-content: center;
  }
  
.navCss{
    width: 100%;
    position: absolute;


}
.telaContainer{
    padding: 2%;
    border-radius: 10px;
    width: 40%;
    height: 80vh;
    background-color: rgb(28, 102, 187);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-top: 5%;

}
        
        
